#calculator{
    width: 40%;
    height: 70%;
    min-width: 300px;
    min-height: 400px;
/* background-color: red; */
border: 2px solid black;

}

#display-container{
    font-size: 2.8rem;
    color: blue;
    width: 98%;
    height: 20%;
    border: 2px solid black;
    margin-left: 0.8px;
    overflow-wrap: break-word;
}

.button{
    width: 22.2%;
    height: 40%;
    display: inline-block;
    border: 2px solid black;
    font-size: 1.8rem;
    margin-top: 4px;
    margin-left: 1px;;
    text-align: center;
}

